@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700; 1,300..700&display=swap');
@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url(../fonts/Montserrat-Light.woff2) format("woff2");
  font-weight: 300;
  font-style: normal
}
@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url(../fonts/Montserrat-Medium.woff2) format("woff2");
  font-weight: 500;
  font-style: normal
}
@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url(../fonts/Montserrat-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal
}
@font-face {
  font-family: Nunito;
  font-display: swap;
  src: url(../fonts/Nunito-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal
}
@font-face {
  font-family: Nunito;
  font-display: swap;
  src: url(../fonts/Nunito-Medium.woff2) format("woff2");
  font-weight: 500;
  font-style: normal
}
@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url(../fonts/Montserrat-SemiBold.woff2) format("woff2");
  font-weight: 600;
  font-style: normal
}
:root {
  --font-family: "Montserrat",sans-serif;
  --second-family: "Cormorant",serif;
  --third-family: "Inter",sans-serif;
  --font-size-mobile: 16px;
  --font-size: 18px;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --color-main: #0D0A06;
  --color-white: #FFFFFF;
  --color-acent: #AA0606;
  --page-padding: max(20px, 6.3%);
  --page-border: 1px solid #0D0A06
}
* {
  padding: 0;
  margin: 0;
  border: 0
}
*,
*::after,
*::before {
  box-sizing: border-box
}
*::after,
*::before {
  display: inline-block
}
body,
html {
  height: 100%;
  min-width: 320px
}
body {
  font-family: var(--font-family);
  font-size: var(--font-size-mobile);
  line-height: 1.3;
  font-weight: var(--font-weight-regular);
  color: var(--color-main);
  background-color: var(--color-white);
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
button,
input,
textarea {
  font-family: var(--font-family);
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent
}
input,
textarea {
  width: 100%
}
button,
option,
select {
  cursor: pointer
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none
}
ul li {
  list-style: none
}
img {
  vertical-align: top;
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit
}
.lock body {
  overflow: hidden;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden
}
@supports (overflow:clip) {
  .wrapper {
    overflow: clip
  }
}
.wrapper > main {
  flex: 1 1 auto
}
.wrapper > * {
  min-width: 0
}
.form {
  position: relative
}
.form__input {
  font-size: 16px;
  border: 1px solid var(--color-main);
  padding: 12px;
  padding-right: 130px
}
.form__input::-webkit-input-placeholder {
  font-size: 14px;
  color: var(--color-main)
}
.form__input:-ms-input-placeholder {
  font-size: 14px;
  color: var(--color-main)
}
.form__input::-ms-input-placeholder {
  font-size: 14px;
  color: var(--color-main)
}
.form__input::placeholder {
  font-size: 14px;
  color: var(--color-main)
}
.form__btn {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  padding: 0 12px;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: .05em;
  text-transform: uppercase;
  color: var(--color-main);
  transition: background .5s,color .5s
}
.form__btn:hover {
  background-color: var(--color-main);
  color: var(--color-white)
}
.btn {
  width: 149px;
  height: 149px;
  border-radius: 50%;
  flex-shrink: 0;
  position: relative;
  z-index: 1;
  font-size: 12px;
  text-transform: uppercase;
  text-wrap: balance;
  text-align: left;
  border: 1px solid var(--color-main);
  overflow: hidden;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6px;
  transition: border .5s
}
.btn:hover::after {
  content: "";
  margin-left: 55%
}
.btn:hover::before {
  -webkit-transform: scale(1);
  transform: scale(1)
}
.btn::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #f0f0f0;
  -webkit-transform: scale(0);
  transform: scale(0);
  transition: -webkit-transform .4s;
  transition: transform .4s;
  transition: transform .4s,-webkit-transform .4s;
  border-radius: 50%;
  z-index: -1
}
.btn::after {
  content: "";
  flex-shrink: 0;
  width: 53px;
  height: 7px;
  background-image: url("data:image/svg+xml,%3Csvg width=%2753%27 height=%277%27 viewBox=%270 0 53 7%27 fill=%27none%27 xmlns=%27http://www.w3.org/2000/svg%27%3E%3Cpath d=%27M52.2897 3.71417C52.4501 3.55382 52.4501 3.29385 52.2897 3.1335L49.6767 0.520484C49.5163 0.360136 49.2564 0.360136 49.096 0.520484C48.9357 0.680832 48.9357 0.940807 49.096 1.10115L51.4187 3.42384L49.096 5.74652C48.9357 5.90687 48.9357 6.16684 49.096 6.32719C49.2564 6.48754 49.5163 6.48754 49.6767 6.32719L52.2897 3.71417ZM0.0546875 3.83443L51.9994 3.83443L51.9994 3.01324L0.0546875 3.01323L0.0546875 3.83443Z%27 fill=%27%230D0A06%27 /%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  transition: margin .5s
}
.ibg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.ibg--top {
  -o-object-position: top;
  object-position: top
}
.ibg--bottom {
  -o-object-position: bottom;
  object-position: bottom
}
.ibg--left {
  -o-object-position: left;
  object-position: left
}
.ibg--right {
  -o-object-position: right;
  object-position: right
}
.ibg--contain {
  -o-object-fit: contain;
  object-fit: contain
}
.title {
  font-family: var(--second-family);
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase
}
.title-sm {
  font-size: 25px
}
.marquee {
  position: relative;
  overflow: hidden
}
.marquee__wrapper {
  display: flex;
  align-items: center;
  white-space: nowrap;
  border-top: 1px solid var(--color-main);
  border-bottom: 1px solid var(--color-main);
  height: 38px
}
.marquee__item {
  flex-shrink: 0;
  font-family: var(--second-family);
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  -webkit-animation: marquee 15s linear infinite;
  animation: marquee 15s linear infinite;
  padding: 0 15px;
  display: flex;
  align-items: center;
  gap: 15px
}
@-webkit-keyframes marquee {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0)
  }
  to {
    -webkit-transform: translate3d(-100%,0,0);
    transform: translate3d(-100%,0,0)
  }
}
@keyframes marquee {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0)
  }
  to {
    -webkit-transform: translate3d(-100%,0,0);
    transform: translate3d(-100%,0,0)
  }
}
.header {
  padding: 8px var(--page-padding);
  border-bottom: var(--page-border)
}
.header-main {
  border-bottom: inherit
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between
}
.header .logo {
  width: 70px;
  flex-shrink: 0
}
.header__action {
  display: flex;
  align-items: center;
  gap: 16px
}
.menu-open .menu__navigation {
  left: 0
}
.menu__list li a {
  transition: color .5s;
  position: relative
}
.menu__list li a::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 1px;
  background-color: var(--color-main);
  transition: width .3s
}
.menu__list li a:hover::before {
  width: 100%
}
.search__body {
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0,0,0,.7);
  transition: top .5s ease 0s;
  opacity: 0;
  z-index: 100
}
.search__body .input {
  padding: 10px 15px;
  border: 1px solid var(--color-white)
}
.search-open .search__body {
  top: 77.16px;
  opacity: 1
}
.search__group {
  position: relative;
  width: 80%;
  max-width: 552px
}
.search__button {
  position: absolute;
  top: 0;
  right: 0;
  width: 45px;
  height: 100%;
  transition: background .3s;
  display: flex;
  align-items: center;
  justify-content: center
}
.search__button:hover {
  background-color: var(--color-main)
}
.search__button svg {
  fill: var(--color-white);
  transition: fill .3s;
  width: 21px
}
.search__icon {
  display: flex;
  cursor: pointer
}
.search__icon svg {
  width: 21px;
  transition: all .4s;
  fill: var(--color-main)
}
.search__icon svg:hover {
  fill: var(--color-acent)
}
.cart {
  position: relative
}
.cart__count {
  position: absolute;
  top: -8px;
  right: -8px;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  border-radius: 50%;
  background-color: var(--color-main);
  color: var(--color-white)
}
.cart svg {
  transition: fill .5s
}
.cart svg:hover {
  fill: var(--color-acent)
}
.icon-menu {
  display: none
}
.footer {
  border-top: var(--page-border)
}
.footer .logo {
  max-width: 220px
}
.footer__body {
  padding: 0 var(--page-padding)
}
.footer__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 25px
}
.footer__content p {
  max-width: 504px;
  text-wrap: balance
}
.footer__catagory {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  -webkit-column-gap: 32px;
  -moz-column-gap: 32px;
  column-gap: 32px;
  row-gap: 40px
}
.footer__catagory-name {
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  color: var(--color-main);
  margin-bottom: 20px
}
.footer__catagory-list li {
  text-align: center
}
.footer__catagory-list li:not(:last-child) {
  margin-bottom: 12px
}
.footer__catagory-list li a {
  position: relative;
  transition: width .5s
}
.footer__catagory-list li a::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 1px;
  background-color: var(--color-main);
  transition: width .3s
}
.footer__catagory-list li a:hover::before {
  width: 100%
}
.footer__form {
  max-width: 504px
}
.footer__contact-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px
}
.footer__contact-item:last-child {
  margin-bottom: 0
}
.footer__contact-item span {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  flex-shrink: 0;
  border: var(--page-border);
  display: inline-flex;
  align-items: center;
  justify-content: center
}
.footer__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  padding: 30px var(--page-padding);
  border-top: var(--page-border)
}
.footer__policy {
  transition: all .5s
}
.footer__policy:hover {
  color: var(--color-acent)
}
.footer__social {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  text-align: center
}
.footer__social::after {
  content: "";
  width: 34px;
  height: 34px;
  flex-shrink: 0;
  background-image: url("data:image/svg+xml,%3Csvg width=%2734%27 height=%2734%27 viewBox=%270 0 34 34%27 fill=%27none%27 xmlns=%27http://www.w3.org/2000/svg%27%3E%3Cpath d=%27M16.847 3.03175C21.3451 3.03175 21.8762 3.0476 23.6516 3.13083C25.2923 3.20612 26.184 3.47958 26.7785 3.70943C27.5632 4.01459 28.1259 4.37919 28.7164 4.96969C29.3069 5.56019 29.6715 6.11898 29.9767 6.90763C30.2065 7.50209 30.48 8.39378 30.5553 10.0345C30.6345 11.8099 30.6544 12.345 30.6544 16.8391C30.6544 21.3332 30.6385 21.8682 30.5553 23.6437C30.48 25.2844 30.2065 26.1761 29.9767 26.7705C29.6715 27.5552 29.3069 28.118 28.7164 28.7085C28.1259 29.299 27.5671 29.6636 26.7785 29.9687C26.184 30.1986 25.2923 30.472 23.6516 30.5473C21.8762 30.6266 21.3451 30.6464 16.847 30.6464C12.3489 30.6464 11.8179 30.6306 10.0424 30.5473C8.40171 30.472 7.51002 30.1986 6.91556 29.9687C6.13087 29.6636 5.56811 29.299 4.97762 28.7085C4.38712 28.118 4.02252 27.5592 3.71736 26.7705C3.4875 26.1761 3.21405 25.2844 3.13875 23.6437C3.05949 21.8682 3.03967 21.3332 3.03967 16.8391C3.03967 12.345 3.05553 11.8099 3.13875 10.0345C3.21405 8.39378 3.4875 7.50209 3.71736 6.90763C4.02252 6.12294 4.38712 5.56019 4.97762 4.96969C5.56811 4.37919 6.12691 4.01459 6.91556 3.70943C7.51002 3.47958 8.40171 3.20612 10.0424 3.13083C11.8179 3.05156 12.3489 3.03175 16.847 3.03175ZM16.847 0C12.2736 0 11.699 0.0198154 9.90371 0.10304C8.1124 0.186264 6.88782 0.467643 5.81382 0.887728C4.70813 1.3197 3.76888 1.89435 2.82963 2.82963C1.89435 3.76492 1.31574 4.70417 0.887727 5.81383C0.471605 6.88385 0.186264 8.10844 0.103039 9.90371C0.0198147 11.699 0 12.2736 0 16.847C0 21.4204 0.0198147 21.995 0.103039 23.7903C0.186264 25.5816 0.467642 26.8062 0.887727 27.8802C1.3197 28.9859 1.89435 29.9251 2.82963 30.8644C3.76492 31.7997 4.70416 32.3783 5.81382 32.8063C6.88385 33.2224 8.10844 33.5078 9.90371 33.591C11.699 33.6742 12.2736 33.694 16.847 33.694C21.4204 33.694 21.995 33.6742 23.7903 33.591C25.5816 33.5078 26.8062 33.2264 27.8802 32.8063C28.9859 32.3743 29.9251 31.7997 30.8644 30.8644C31.7997 29.9291 32.3783 28.9899 32.8063 27.8802C33.2224 26.8102 33.5078 25.5856 33.591 23.7903C33.6742 21.995 33.694 21.4204 33.694 16.847C33.694 12.2736 33.6742 11.699 33.591 9.90371C33.5078 8.11241 33.2264 6.88782 32.8063 5.81383C32.3743 4.70813 31.7997 3.76888 30.8644 2.82963C29.9291 1.89435 28.9899 1.31574 27.8802 0.887728C26.8102 0.471606 25.5856 0.186264 23.7903 0.10304C21.995 0.0158524 21.4204 0 16.847 0Z%27 fill=%27%230D0A06%27 /%3E%3Cpath d=%27M16.8466 8.19141C12.0711 8.19141 8.19922 12.0633 8.19922 16.8388C8.19922 21.6143 12.0711 25.4862 16.8466 25.4862C21.6221 25.4862 25.4941 21.6143 25.4941 16.8388C25.4941 12.0633 21.6221 8.19141 16.8466 8.19141ZM16.8466 22.4545C13.7475 22.4545 11.231 19.9419 11.231 16.8388C11.231 13.7357 13.7436 11.2232 16.8466 11.2232C19.9497 11.2232 22.4623 13.7357 22.4623 16.8388C22.4623 19.9419 19.9458 22.4545 16.8466 22.4545Z%27 fill=%27%230D0A06%27 /%3E%3Cpath d=%27M25.8415 9.87241C26.9577 9.87241 27.8626 8.9675 27.8626 7.85124C27.8626 6.73499 26.9577 5.83008 25.8415 5.83008C24.7252 5.83008 23.8203 6.73499 23.8203 7.85124C23.8203 8.9675 24.7252 9.87241 25.8415 9.87241Z%27 fill=%27%230D0A06%27 /%3E%3C/svg%3E");
  transition: background .3s ease 0s
}
.footer__social:hover::after {
  background-image: url("data:image/svg+xml,%3Csvg width=%2734%27 height=%2734%27 viewBox=%270 0 34 34%27 fill=%27none%27 xmlns=%27http://www.w3.org/2000/svg%27%3E%3Cpath d=%27M16.847 3.03175C21.3451 3.03175 21.8762 3.0476 23.6516 3.13083C25.2923 3.20612 26.184 3.47958 26.7785 3.70943C27.5632 4.01459 28.1259 4.37919 28.7164 4.96969C29.3069 5.56019 29.6715 6.11898 29.9767 6.90763C30.2065 7.50209 30.48 8.39378 30.5553 10.0345C30.6345 11.8099 30.6544 12.345 30.6544 16.8391C30.6544 21.3332 30.6385 21.8682 30.5553 23.6437C30.48 25.2844 30.2065 26.1761 29.9767 26.7705C29.6715 27.5552 29.3069 28.118 28.7164 28.7085C28.1259 29.299 27.5671 29.6636 26.7785 29.9687C26.184 30.1986 25.2923 30.472 23.6516 30.5473C21.8762 30.6266 21.3451 30.6464 16.847 30.6464C12.3489 30.6464 11.8179 30.6306 10.0424 30.5473C8.40171 30.472 7.51002 30.1986 6.91556 29.9687C6.13087 29.6636 5.56811 29.299 4.97762 28.7085C4.38712 28.118 4.02252 27.5592 3.71736 26.7705C3.4875 26.1761 3.21405 25.2844 3.13875 23.6437C3.05949 21.8682 3.03967 21.3332 3.03967 16.8391C3.03967 12.345 3.05553 11.8099 3.13875 10.0345C3.21405 8.39378 3.4875 7.50209 3.71736 6.90763C4.02252 6.12294 4.38712 5.56019 4.97762 4.96969C5.56811 4.37919 6.12691 4.01459 6.91556 3.70943C7.51002 3.47958 8.40171 3.20612 10.0424 3.13083C11.8179 3.05156 12.3489 3.03175 16.847 3.03175ZM16.847 0C12.2736 0 11.699 0.0198154 9.90371 0.10304C8.1124 0.186264 6.88782 0.467643 5.81382 0.887728C4.70813 1.3197 3.76888 1.89435 2.82963 2.82963C1.89435 3.76492 1.31574 4.70417 0.887727 5.81383C0.471605 6.88385 0.186264 8.10844 0.103039 9.90371C0.0198147 11.699 0 12.2736 0 16.847C0 21.4204 0.0198147 21.995 0.103039 23.7903C0.186264 25.5816 0.467642 26.8062 0.887727 27.8802C1.3197 28.9859 1.89435 29.9251 2.82963 30.8644C3.76492 31.7997 4.70416 32.3783 5.81382 32.8063C6.88385 33.2224 8.10844 33.5078 9.90371 33.591C11.699 33.6742 12.2736 33.694 16.847 33.694C21.4204 33.694 21.995 33.6742 23.7903 33.591C25.5816 33.5078 26.8062 33.2264 27.8802 32.8063C28.9859 32.3743 29.9251 31.7997 30.8644 30.8644C31.7997 29.9291 32.3783 28.9899 32.8063 27.8802C33.2224 26.8102 33.5078 25.5856 33.591 23.7903C33.6742 21.995 33.694 21.4204 33.694 16.847C33.694 12.2736 33.6742 11.699 33.591 9.90371C33.5078 8.11241 33.2264 6.88782 32.8063 5.81383C32.3743 4.70813 31.7997 3.76888 30.8644 2.82963C29.9291 1.89435 28.9899 1.31574 27.8802 0.887728C26.8102 0.471606 25.5856 0.186264 23.7903 0.10304C21.995 0.0158524 21.4204 0 16.847 0Z%27 fill=%27url%28%23paint0_linear_183_238%29%27 /%3E%3Cpath d=%27M16.8476 8.19141C12.0721 8.19141 8.2002 12.0633 8.2002 16.8388C8.2002 21.6143 12.0721 25.4862 16.8476 25.4862C21.6231 25.4862 25.495 21.6143 25.495 16.8388C25.495 12.0633 21.6231 8.19141 16.8476 8.19141ZM16.8476 22.4545C13.7485 22.4545 11.2319 19.9419 11.2319 16.8388C11.2319 13.7357 13.7445 11.2232 16.8476 11.2232C19.9507 11.2232 22.4633 13.7357 22.4633 16.8388C22.4633 19.9419 19.9467 22.4545 16.8476 22.4545Z%27 fill=%27url%28%23paint1_linear_183_238%29%27 /%3E%3Cpath d=%27M25.8395 9.87241C26.9558 9.87241 27.8607 8.9675 27.8607 7.85124C27.8607 6.73499 26.9558 5.83008 25.8395 5.83008C24.7233 5.83008 23.8184 6.73499 23.8184 7.85124C23.8184 8.9675 24.7233 9.87241 25.8395 9.87241Z%27 fill=%27url%28%23paint2_linear_183_238%29%27 /%3E%3Cdefs%3E%3ClinearGradient id=%27paint0_linear_183_238%27 x1=%2713.1553%27 y1=%2735.84%27 x2=%2720.3157%27 y2=%27-0.995991%27 gradientUnits=%27userSpaceOnUse%27%3E%3Cstop stop-color=%27%23FFDA72%27 /%3E%3Cstop offset=%270.2%27 stop-color=%27%23F86639%27 /%3E%3Cstop offset=%270.34%27 stop-color=%27%23E92954%27 /%3E%3Cstop offset=%270.47%27 stop-color=%27%23C51883%27 /%3E%3Cstop offset=%270.53%27 stop-color=%27%23BA1B90%27 /%3E%3Cstop offset=%270.64%27 stop-color=%27%23A024B0%27 /%3E%3Cstop offset=%270.68%27 stop-color=%27%239527B2%27 /%3E%3Cstop offset=%270.75%27 stop-color=%27%237A32BA%27 /%3E%3Cstop offset=%270.83%27 stop-color=%27%235541C5%27 /%3E%3C/linearGradient%3E%3ClinearGradient id=%27paint1_linear_183_238%27 x1=%2714.9527%27 y1=%2726.5877%27 x2=%2718.6281%27 y2=%277.68017%27 gradientUnits=%27userSpaceOnUse%27%3E%3Cstop stop-color=%27%23FFDA72%27 /%3E%3Cstop offset=%270.2%27 stop-color=%27%23F86639%27 /%3E%3Cstop offset=%270.34%27 stop-color=%27%23E92954%27 /%3E%3Cstop offset=%270.47%27 stop-color=%27%23C51883%27 /%3E%3Cstop offset=%270.53%27 stop-color=%27%23BA1B90%27 /%3E%3Cstop offset=%270.64%27 stop-color=%27%23A024B0%27 /%3E%3Cstop offset=%270.68%27 stop-color=%27%239527B2%27 /%3E%3Cstop offset=%270.75%27 stop-color=%27%237A32BA%27 /%3E%3Cstop offset=%270.83%27 stop-color=%27%235541C5%27 /%3E%3C/linearGradient%3E%3ClinearGradient id=%27paint2_linear_183_238%27 x1=%2725.3966%27 y1=%2710.1299%27 x2=%2726.2557%27 y2=%275.71059%27 gradientUnits=%27userSpaceOnUse%27%3E%3Cstop stop-color=%27%23FFDA72%27 /%3E%3Cstop offset=%270.2%27 stop-color=%27%23F86639%27 /%3E%3Cstop offset=%270.34%27 stop-color=%27%23E92954%27 /%3E%3Cstop offset=%270.47%27 stop-color=%27%23C51883%27 /%3E%3Cstop offset=%270.53%27 stop-color=%27%23BA1B90%27 /%3E%3Cstop offset=%270.64%27 stop-color=%27%23A024B0%27 /%3E%3Cstop offset=%270.68%27 stop-color=%27%239527B2%27 /%3E%3Cstop offset=%270.75%27 stop-color=%27%237A32BA%27 /%3E%3Cstop offset=%270.83%27 stop-color=%27%235541C5%27 /%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E")
}
.footer__social:hover span::before {
  width: 50%
}
.footer__social span {
  position: relative;
  padding-bottom: 4px
}
.footer__social span::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: var(--color-main);
  transition: all .5s
}
.hero {
  padding: 0 var(--page-padding);
  border-bottom: var(--page-border)
}
.hero__img {
  position: relative
}
.hero__text p {
  margin-bottom: 30px
}
.hero__list li {
  display: flex;
  gap: 18px
}
.hero__list li:not(:last-child) {
  margin-bottom: 30px
}
.hero__list li::before {
  content: "";
  width: 41px;
  height: 32px;
  flex-shrink: 0;
  background-image: url("data:image/svg+xml,%3Csvg width=%2742%27 height=%2732%27 viewBox=%270 0 42 32%27 fill=%27none%27 xmlns=%27http://www.w3.org/2000/svg%27%3E%3Ccircle cx=%2716%27 cy=%2716%27 r=%2715.5%27 stroke=%27%230D0A06%27 /%3E%3Cpath d=%27M41.8536 16.3536C42.0488 16.1583 42.0488 15.8417 41.8536 15.6465L38.6716 12.4645C38.4763 12.2692 38.1597 12.2692 37.9645 12.4645C37.7692 12.6597 37.7692 12.9763 37.9645 13.1716L40.7929 16L37.9645 18.8284C37.7692 19.0237 37.7692 19.3403 37.9645 19.5355C38.1597 19.7308 38.4763 19.7308 38.6716 19.5355L41.8536 16.3536ZM16 16.5L41.5 16.5L41.5 15.5L16 15.5L16 16.5Z%27 fill=%27%230D0A06%27 /%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center
}
.advant__block {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center
}
.advant__img img {
  width: 100%
}
.advant__text {
  max-width: 567px
}
.advant__title {
  margin-bottom: 20px
}
.offers {
  margin-bottom: 60px
}
.care {
  padding: 0 var(--page-padding);
  margin-bottom: 60px
}
.care__inner {
  text-align: center
}
.care__title,
.medical__title {
  margin-bottom: 30px
}
.care__img,
.styling__img {
  padding: 20px;
  border-radius: 50%;
  border: var(--page-border)
}
.care__img img,
.styling__img img {
  border-radius: 50%
}
.care__list li,
.medical__list li {
  padding: 28px 0;
  border-bottom: var(--page-border)
}
.care__list li a,
.medical__list li a {
  font-size: 18px;
  text-transform: uppercase;
  color: var(--color-main);
  transition: color .4s
}
.care__list li a:hover,
.medical__list li a:hover {
  color: var(--color-acent)
}
.medical {
  padding: 0 var(--page-padding)
}
.medical__inner {
  text-align: center
}
.medical__imgs {
  display: flex;
  align-items: center;
  gap: 10px
}
.medical__img {
  flex: 0 1 50%
}
.medical__img img {
  height: 100%;
  width: 100%
}
.medical__list {
  width: 100%;
  max-width: 592px
}
.styling {
  padding: 0 var(--page-padding)
}
.styling__inner {
  text-align: center
}
.styling__img {
  max-width: 210px
}
.coloring__title {
  text-align: center;
  margin-bottom: 30px
}
.item-coloring {
  display: block;
  padding: 30px 20px;
  border: var(--page-border);
  text-align: center
}
.item-coloring:hover .item-coloring__icon::after {
  right: -20px
}
.item-coloring:hover .item-coloring__name {
  color: var(--color-acent)
}
.item-coloring img {
  max-width: 97px;
  margin-bottom: 36px
}
.item-coloring__block {
  display: flex;
  align-items: center;
  justify-content: space-between
}
.item-coloring__name {
  font-size: 18px;
  text-transform: uppercase;
  color: var(--color-main);
  transition: color .5s
}
.item-coloring__icon {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: var(--page-border);
  position: relative;
  margin-right: 10px
}
.item-coloring__icon::after {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  right: -10px;
  width: 26px;
  height: 8px;
  background-image: url("data:image/svg+xml,%3Csvg width=%2726%27 height=%278%27 viewBox=%270 0 26 8%27 fill=%27none%27 xmlns=%27http://www.w3.org/2000/svg%27%3E%3Cpath d=%27M25.8536 4.35356C26.0488 4.1583 26.0488 3.84172 25.8536 3.64645L22.6716 0.464473C22.4763 0.269211 22.1597 0.26921 21.9645 0.464473C21.7692 0.659735 21.7692 0.976317 21.9645 1.17158L24.7929 4.00001L21.9645 6.82843C21.7692 7.0237 21.7692 7.34028 21.9645 7.53554C22.1597 7.7308 22.4763 7.7308 22.6716 7.53554L25.8536 4.35356ZM-1.47419e-07 4.5L25.5 4.50001L25.5 3.50001L1.47419e-07 3.5L-1.47419e-07 4.5Z%27 fill=%27%230D0A06%27 /%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  transition: right .5s
}
.sale {
  padding: 0 var(--page-padding);
  margin-bottom: 60px
}
.sale__inner {
  position: relative
}
.sale__title {
  text-align: center;
  margin-bottom: 30px
}
.sale__button {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  border: var(--page-border);
  background-color: var(--color-white);
  position: absolute;
  top: 50%;
  z-index: 1
}
.sale__button::after {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 26px;
  height: 8px;
  background-image: url("data:image/svg+xml,%3Csvg width=%2726%27 height=%278%27 viewBox=%270 0 26 8%27 fill=%27none%27 xmlns=%27http://www.w3.org/2000/svg%27%3E%3Cpath d=%27M25.8536 4.35356C26.0488 4.1583 26.0488 3.84172 25.8536 3.64645L22.6716 0.464473C22.4763 0.269211 22.1597 0.26921 21.9645 0.464473C21.7692 0.659735 21.7692 0.976317 21.9645 1.17158L24.7929 4.00001L21.9645 6.82843C21.7692 7.0237 21.7692 7.34028 21.9645 7.53554C22.1597 7.7308 22.4763 7.7308 22.6716 7.53554L25.8536 4.35356ZM-1.47419e-07 4.5L25.5 4.50001L25.5 3.50001L1.47419e-07 3.5L-1.47419e-07 4.5Z%27 fill=%27%230D0A06%27 /%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center
}
.sale__button:disabled {
  opacity: .5
}
.sale__button-prev {
  left: -5px
}
.sale__button-prev:not([disabled]):hover::after {
  left: -15px
}
.sale__button-prev::after {
  -webkit-transform: translateY(-50%) rotate(180deg);
  transform: translateY(-50%) rotate(180deg);
  left: -10px;
  transition: left .5s
}
.sale__button-next {
  right: -5px
}
.sale__button-next:not([disabled]):hover::after {
  right: -15px
}
.sale__button-next::after {
  right: -10px;
  transition: right .5s
}
.cart-sale {
  position: relative
}
.cart-sale__label {
  position: absolute;
  top: 30px;
  left: 0;
  z-index: 1;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-white);
  padding: 12px 20px;
  background-color: var(--color-acent)
}
.cart-sale__img {
  margin-bottom: 15px;
  position: relative;
  padding-bottom: 104%
}
.cart-sale__img img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0
}
.cart-sale__body {
  padding: 20px;
  border: var(--page-border);
  text-align: center
}
.cart-sale__name {
  font-size: 14px;
  text-wrap: balance;
  text-transform: uppercase;
  color: var(--color-main);
  margin-bottom: 15px
}
.cart-sale__price .price-regular {
  position: relative
}
.cart-sale__price .price-regular::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  width: 100%;
  height: 1px;
  background-color: var(--color-main)
}
.cart-sale__price .price-sale {
  color: var(--color-acent);
  font-weight: 500
}
.category-sale {
  margin-bottom: 30px
}
.category-sale.catlist-open {
  height: auto
}
.category-sale__name {
  font-size: 14px;
  text-transform: uppercase;
  color: var(--color-main);
  position: relative
}
.category-sale__name::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  height: 1px;
  width: 0;
  background-color: var(--color-main);
  transition: width .5s
}
.category-sale__name:hover::before {
  width: 100%
}
.barbers {
  padding: 0 var(--page-padding)
}
.barbers__title {
  margin-bottom: 30px
}
.barbers__text p:nth-of-type(1) {
  margin-bottom: 16px
}
.barbers__img {
  position: relative
}
.in-house {
  padding: 0 var(--page-padding)
}
.in-house__title {
  margin-bottom: 30px
}
.in-house__list li span {
  display: inline-block;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: var(--page-border);
  font-family: var(--second-family);
  font-size: 35px;
  line-height: 1;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 15px
}
.delivery {
  padding: 60px var(--page-padding);
  border-bottom: var(--page-border);
  text-align: center
}
.delivery__title {
  margin-bottom: 20px
}
.delivery__text {
  max-width: 985px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px
}
.delivery__text p {
  margin-bottom: 16px
}
.delivery__text p:last-child {
  margin-bottom: 0
}
.delivery__item-icon {
  margin-bottom: 20px
}
.payment {
  padding: 60px var(--page-padding);
  text-align: center
}
.payment__title {
  margin-bottom: 20px
}
.payment__text {
  margin-bottom: 30px
}
.payment__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px
}
.payment__item p {
  max-width: 353px
}
.payment__item-icon {
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 50%;
  border: var(--page-border);
  font-family: var(--second-family);
  font-size: 30px;
  line-height: 1;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center
}
.hero-about__title {
  margin-bottom: 40px
}
.hero-about__content {
  position: relative
}
.hero-about__text {
  text-align: left;
  margin-bottom: 30px
}
.hero-about__gallary {
  display: flex;
  gap: 10px;
  margin-bottom: 40px
}
.hero-about__gallary div {
  width: 135px;
  height: 135px;
  border-radius: 50%;
  border: var(--page-border);
  padding: 10px
}
.hero-about__gallary div img {
  border-radius: 50%;
  height: 100%
}
.hero-about__btn {
  display: inline-flex;
  align-items: center;
  gap: 15px;
  text-transform: uppercase
}
.hero-about__btn:hover span::after {
  right: -15px
}
.hero-about__btn span {
  display: inline-block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: var(--page-border);
  position: relative;
  margin-right: 10px
}
.hero-about__btn span::after {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  right: -10px;
  width: 26px;
  height: 8px;
  background-image: url("data:image/svg+xml,%3Csvg width=%2726%27 height=%278%27 viewBox=%270 0 26 8%27 fill=%27none%27 xmlns=%27http://www.w3.org/2000/svg%27%3E%3Cpath d=%27M25.8536 4.35356C26.0488 4.1583 26.0488 3.84172 25.8536 3.64645L22.6716 0.464473C22.4763 0.269211 22.1597 0.26921 21.9645 0.464473C21.7692 0.659735 21.7692 0.976317 21.9645 1.17158L24.7929 4.00001L21.9645 6.82843C21.7692 7.0237 21.7692 7.34028 21.9645 7.53554C22.1597 7.7308 22.4763 7.7308 22.6716 7.53554L25.8536 4.35356ZM-1.47419e-07 4.5L25.5 4.50001L25.5 3.50001L1.47419e-07 3.5L-1.47419e-07 4.5Z%27 fill=%27%230D0A06%27 /%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  transition: right .5s
}
.about-follow {
  text-align: center;
  padding: 60px var(--page-padding)
}
.about-follow__title {
  margin-bottom: 30px
}
.about-follow__text {
  margin-bottom: 30px
}
.about-follow__gallary {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 30px
}
.about-follow__gallary-item img {
  height: 100%
}
.about-home {
  border-bottom: var(--page-border)
}
.about-home__inner {
  display: flex;
  flex-direction: column;
  gap: 30px
}
.about-home__title {
  margin-bottom: 30px
}
.about-barbers {
  padding: 60px var(--page-padding);
  border-bottom: var(--page-border);
  text-align: center
}
.about-barbers__title {
  margin-bottom: 30px
}
.swiper {
  overflow: hidden
}
.swiper-initialized {
  touch-action: pan-y
}
.swiper-wrapper {
  width: 100%;
  height: 100%;
  box-sizing: content-box;
  display: flex;
  position: relative
}
.swiper-vertical .swiper-wrapper {
  flex-direction: column
}
.swiper-autoheight .swiper-wrapper {
  align-items: flex-start
}
.swiper-initialized .swiper-slide {
  flex-shrink: 0
}
.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0)
}
.swiper-button-lock {
  display: none!important
}
@media (min-width:47.99875em) {
  .menu__list {
    display: flex;
    align-items: center;
    gap: 20px
  }
  .menu__list li a {
    font-size: 14px;
    text-transform: uppercase
  }
  .advant {
    padding: 0 var(--page-padding)
  }
  .advant__inner {
    display: flex
  }
  .advant__block {
    flex: 0 1 50%;
    padding: 60px 0
  }
  .advant__block:first-child {
    padding-right: 40px;
    border-right: var(--page-border)
  }
  .advant__block:last-child {
    padding-left: 40px
  }
  .offers {
    border-top: var(--page-border);
    border-bottom: var(--page-border)
  }
  .offers__inner {
    display: flex
  }
  .offers__inner > * {
    flex: 0 1 calc(50% - 1px)
  }
  .offers__text {
    display: flex;
    align-items: center;
    padding-left: var(--page-padding);
    border-left: var(--page-border)
  }
  .care__inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 32px;
    text-align: left
  }
  .care__column {
    flex: 0 1 28%
  }
  .care__column.center {
    flex: 0 1 26%;
    max-width: 459px
  }
  .care__list li:first-child,
  .medical__list li:first-child {
    border-top: var(--page-border)
  }
  .medical {
    border-top: var(--page-border);
    border-bottom: var(--page-border)
  }
  .medical__inner {
    display: flex;
    align-items: center;
    text-align: left
  }
  .medical__column {
    flex: 0 1 50%;
    padding: 60px 0
  }
  .medical__column.left {
    border-right: var(--page-border);
    padding-right: var(--page-padding)
  }
  .medical__column.right {
    padding-left: var(--page-padding)
  }
  .styling__inner {
    display: flex;
    align-items: center
  }
  .styling__column {
    flex: 0 1 calc(50% - 1px);
    padding: 60px 0
  }
  .styling__column.left {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center
  }
  .styling__column.right {
    border-left: var(--page-border)
  }
  .styling__list {
    counter-reset: li
  }
  .styling__list li {
    position: relative;
    margin-left: -12.5px;
    display: flex;
    align-items: center;
    gap: 32px
  }
  .styling__list li:not(:last-child) {
    margin-bottom: 20px
  }
  .styling__list li::before {
    counter-increment: li;
    content: counter(li,decimal-leading-zero);
    font-family: var(--second-family);
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--color-main);
    transition: color .4s;
    order: 2
  }
  .styling__list li::after {
    content: "";
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: var(--color-white);
    border: var(--page-border);
    transition: border .4s;
    order: 1
  }
  .styling__list li:hover::before {
    color: var(--color-acent)
  }
  .styling__list li:hover::after {
    border: 1px solid var(--color-acent)
  }
  .styling__list li a {
    font-size: 18px;
    text-transform: uppercase;
    color: var(--color-main);
    transition: color .4s;
    order: 3
  }
  .styling__list li a:hover {
    color: var(--color-acent)
  }
  .coloring {
    padding: 60px var(--page-padding);
    border-top: var(--page-border);
    border-bottom: var(--page-border);
    margin-bottom: 120px
  }
  .coloring__list {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 16px
  }
  .item-coloring {
    flex: 0 1 calc(33.3% - 11px)
  }
  .cart-sale__img {
    margin-bottom: 20px
  }
  .in-house__inner {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 32px
  }
  .in-house__img {
    flex: 0 0 40%
  }
  .in-house__img img {
    min-height: 560px
  }
  .hero-about__inner {
    display: flex
  }
  .hero-about__img {
    flex: 0 0 40%
  }
  .hero-about__img img {
    height: 100%
  }
  .hero-about__content {
    flex: 1;
    padding: 70px var(--page-padding)
  }
  .hero-about__btn {
    display: flex
  }
  .about-follow__gallary {
    flex-wrap: nowrap
  }
  .about-follow__gallary-item {
    flex: 1
  }
}
@media (min-width:47.99875em) and (min-width:90em) {
  .styling__list li {
    gap: 42px
  }
  .styling__list li:not(:last-child) {
    margin-bottom: 30px
  }
  .styling__list li::before {
    font-size: 36px
  }
}
@media (min-width:61.99875em) {
  body {
    font-size: var(--font-size)
  }
  .header__action {
    gap: 32px
  }
  .search-open .search__body {
    height: 180px
  }
  .footer .logo {
    margin-bottom: 40px
  }
  .footer__body {
    display: flex;
    justify-content: space-between
  }
  .footer__content {
    flex: 0 1 50%;
    padding: 60px 0;
    padding-right: 40px
  }
  .footer__catagory {
    flex: 0 1 50%;
    padding: 60px 0 60px 40px;
    padding-left: 40px;
    border-left: var(--page-border);
    max-width: 960px
  }
  .footer__catagory-name {
    margin-bottom: 40px
  }
  .footer__contact-item {
    flex-direction: row;
    font-size: 16px
  }
  .hero__inner {
    display: flex
  }
  .hero__column.left {
    flex: 0 1 30%;
    order: 1;
    display: flex;
    flex-direction: column;
    justify-content: center
  }
  .hero__column.center {
    flex: 1;
    order: 2
  }
  .hero__column.right {
    flex: 0 1 30%;
    order: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 25px 20px
  }
  .hero__img {
    height: 100%
  }
  .hero__img img {
    height: 100%
  }
  .hero__title {
    position: relative;
    z-index: 1;
    margin-right: -163px
  }
  .advant__block {
    flex-direction: row-reverse;
    justify-content: flex-end;
    gap: 32px;
    text-align: left
  }
  .advant__img {
    flex: 0 0 60px
  }
  .advant__title {
    margin-bottom: 40px
  }
  .offers {
    margin-bottom: 120px
  }
  .care {
    margin-bottom: 120px
  }
  .coloring {
    padding: 120px var(--page-padding)
  }
  .coloring__title {
    margin-bottom: 60px
  }
  .sale {
    margin-bottom: 120px
  }
  .sale__title {
    text-align: left;
    margin-bottom: 40px
  }
  .category-sale {
    display: flex;
    align-items: center;
    gap: 28px;
    margin-bottom: 60px
  }
  .barbers__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px
  }
  .barbers__inner > * {
    flex: 0 1 35%
  }
  .barbers__text {
    order: 1
  }
  .barbers__img {
    order: 2
  }
  .barbers__img img {
    min-height: 560px;
    height: 100%
  }
  .barbers__btns {
    order: 3;
    margin-left: -55px
  }
  .in-house__list li span {
    margin-bottom: 30px
  }
  .delivery {
    padding-top: 80px;
    padding-bottom: 120px
  }
  .delivery__title {
    margin-bottom: 40px
  }
  .delivery__text {
    margin-bottom: 65px
  }
  .delivery__text p {
    margin-bottom: 32px
  }
  .delivery__list {
    display: flex;
    gap: 32px
  }
  .delivery__list > * {
    flex: 1
  }
  .delivery__item-icon {
    margin-bottom: 25px
  }
  .payment {
    padding-top: 120px;
    padding-bottom: 120px
  }
  .payment__title {
    margin-bottom: 40px
  }
  .payment__text {
    margin-bottom: 60px
  }
  .payment__list {
    display: flex;
    justify-content: center;
    gap: 32px
  }
  .payment__item {
    flex-direction: row;
    gap: 40px;
    text-align: left
  }
  .about-follow {
    padding: 120px var(--page-padding)
  }
  .about-follow__text {
    margin-bottom: 60px
  }
  .about-follow__gallary {
    gap: 32px;
    margin-bottom: 60px
  }
  .about-home__inner {
    flex-direction: row;
    gap: 0
  }
  .about-home__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: var(--page-padding);
    order: 1
  }
  .about-home__img {
    order: 3;
    height: 415px;
    min-width: 40%
  }
  .about-home__img img {
    height: 100%
  }
  .about-home__block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    order: 2;
    padding: 0 var(--page-padding)
  }
  .about-barbers {
    padding: 120px var(--page-padding);
    text-align: left
  }
  .about-barbers__title {
    margin-bottom: 40px
  }
  .about-barbers__text {
    display: flex;
    gap: 32px;
    margin-bottom: 60px
  }
}
@media (min-width:112.5em) {
  .footer__contact {
    display: flex;
    align-items: center;
    gap: 55px
  }
  .footer__contact-item {
    font-size: 18px;
    margin-bottom: 0
  }
  .styling__column.left {
    gap: 80px
  }
  .delivery__list {
    gap: 120px
  }
  .hero-about__text {
    margin-bottom: 0
  }
  .hero-about__text p:nth-of-type(1) {
    max-width: 445px
  }
  .hero-about__text p:nth-of-type(2) {
    max-width: 330px
  }
  .hero-about__gallary {
    margin-top: -135px
  }
}
@media (min-width:90em) {
  .btn {
    width: 329px;
    height: 329px;
    font-size: 16px
  }
  .btn::after {
    width: 105px;
    height: 8px;
    margin-left: 35%
  }
  .title {
    font-size: 55px
  }
  .title-sm {
    font-size: 45px
  }
  .marquee__wrapper {
    height: 72px
  }
  .marquee__item {
    font-size: 24px
  }
  .menu {
    margin-right: auto;
    margin-left: 80px
  }
  .menu__list {
    gap: 55px
  }
  .search__icon svg {
    width: 24px
  }
  .footer__content {
    padding: 120px 0
  }
  .footer__catagory {
    padding: 120px 0 120px 80px
  }
  .footer__catagory-list li:not(:last-child) {
    margin-bottom: 25px
  }
  .hero__column.right {
    padding-left: var(--page-padding)
  }
  .hero__title {
    margin-right: -290px
  }
  .hero__text p:nth-of-type(1) {
    margin-bottom: 88px
  }
  .advant__block {
    padding: 120px 0;
    gap: 65px
  }
  .advant__block:first-child {
    padding-right: 100px
  }
  .advant__block:last-child {
    padding-left: 100px
  }
  .offers__title {
    max-width: 550px;
    margin-right: -125px
  }
  .care__title,
  .medical__title {
    margin-bottom: 60px
  }
  .medical__column {
    padding: 120px 0
  }
  .styling__column.left {
    flex-direction: row;
    gap: 42px;
    padding-right: var(--page-padding)
  }
  .styling__img {
    max-width: 365px
  }
  .coloring__list {
    gap: 40px
  }
  .item-coloring {
    flex: 0 1 calc(25% - 30px)
  }
  .cart-sale__name {
    font-size: 18px;
    margin-bottom: 20px
  }
  .barbers__inner {
    gap: 62px
  }
  .barbers__inner > * {
    flex: 0 1 29%
  }
  .barbers__title {
    margin-bottom: 60px
  }
  .barbers__img img {
    min-height: 762px;
    height: 100%
  }
  .barbers__btns {
    margin-left: -115px
  }
  .in-house__inner {
    gap: 54px
  }
  .in-house__title {
    margin-bottom: 60px
  }
  .in-house__list {
    display: flex;
    gap: 32px
  }
  .in-house__list li span {
    font-size: 40px;
    width: 55px;
    height: 55px
  }
  .in-house__img {
    flex: 0 0 30%
  }
  .in-house__img img {
    min-height: 415px
  }
  .payment__list {
    gap: 90px
  }
  .payment__item-icon {
    width: 80px;
    height: 80px;
    font-size: 55px
  }
  .hero-about__content {
    padding-top: 120px
  }
  .hero-about__text {
    margin-bottom: 50px
  }
  .hero-about__text p {
    margin-bottom: 40px
  }
  .hero-about__gallary {
    justify-content: flex-end;
    gap: 47px;
    margin-bottom: 0
  }
  .hero-about__gallary div {
    width: 262px;
    height: 262px;
    padding: 20px
  }
  .about-follow__btn {
    width: 256px;
    height: 256px
  }
  .about-home__title {
    margin-bottom: 40px
  }
  .about-home__btn {
    width: 262px;
    height: 262px
  }
  .about-barbers__inner {
    display: flex;
    align-items: center;
    gap: 64px
  }
  .about-barbers__text {
    gap: 55px;
    margin-bottom: 0
  }
  .about-barbers__btn {
    width: 262px;
    height: 262px
  }
}
@media (max-width:90em) {
  .btn span {
    max-width: 53px
  }
  .footer .logo {
    max-width: 140px
  }
  .in-house__list li:not(:last-child) {
    margin-bottom: 30px
  }
  .hero-about__text p {
    font-size: 16px
  }
  .hero-about__text p:not(:last-child) {
    margin-bottom: 30px
  }
}
@media (max-width:61.99875em) {
  .footer {
    padding-top: 60px
  }
  .footer__content {
    align-items: center;
    text-align: center;
    border-bottom: var(--page-border);
    padding-bottom: 50px;
    margin-bottom: 50px
  }
  .footer__catagory {
    padding-bottom: 50px
  }
  .hero {
    padding-bottom: 60px
  }
  .hero__img {
    width: 67%;
    margin: 0 calc(-1.1 * var(--page-padding));
    margin-bottom: 30px
  }
  .hero__title {
    text-wrap: balance;
    margin-bottom: 40px
  }
  .hero__btn {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    right: -125px
  }
  .advant__img {
    max-width: 90px;
    margin-bottom: 30px
  }
  .category-sale {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
    padding: 15px 0;
    border-top: var(--page-border);
    border-bottom: var(--page-border);
    height: 53px;
    overflow: hidden
  }
  .barbers {
    padding-bottom: 60px
  }
  .barbers__img {
    width: 67%;
    margin: 0 calc(-1.1 * var(--page-padding));
    margin-bottom: 30px
  }
  .barbers__btn {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    right: -115px
  }
  .delivery__item:not(:last-child) {
    margin-bottom: 30px
  }
  .payment__item:not(:last-child) {
    margin-bottom: 30px
  }
  .about-home {
    text-align: center;
    padding: 60px 0
  }
  .about-home__text {
    padding: 0 var(--page-padding)
  }
  .about-home__block {
    padding: 0 var(--page-padding)
  }
  .about-barbers__text {
    margin-bottom: 30px
  }
  .about-barbers__text p:not(:last-child) {
    margin-bottom: 18px
  }
}
@media (max-width:47.99875em) {
  .header .logo {
    order: 2
  }
  .header__action {
    order: 3
  }
  .menu__navigation {
    position: fixed;
    top: 77.16px;
    left: -200%;
    width: 100%;
    height: 100%;
    background-color: var(--color-white);
    transition: left .5s;
    z-index: 99
  }
  .menu__list {
    padding: 50px 15px
  }
  .menu__list li {
    text-align: center
  }
  .menu__list li:not(:last-child) {
    margin-bottom: 24px
  }
  .menu__list li a {
    font-size: 18px;
    text-transform: uppercase
  }
  .icon-menu {
    position: relative;
    display: block;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 100;
    order: 1
  }
  .icon-menu span,
  .icon-menu::after,
  .icon-menu::before {
    content: "";
    transition: all .3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: .125rem;
    background-color: #000
  }
  .icon-menu::before {
    top: 0
  }
  .icon-menu::after {
    bottom: 0
  }
  .icon-menu span {
    top: calc(50% - .0625rem)
  }
  .menu-open .icon-menu span {
    width: 0
  }
  .menu-open .icon-menu::before {
    top: calc(50% - .0625rem);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
  }
  .menu-open .icon-menu::after {
    bottom: calc(50% - .0625rem);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
  }
  .footer__bottom {
    flex-direction: column
  }
  .advant {
    padding: 60px 0
  }
  .advant__block {
    padding: 0 var(--page-padding)
  }
  .advant__block:first-child {
    padding-bottom: 40px;
    margin-bottom: 40px;
    border-bottom: var(--page-border)
  }
  .offers {
    text-align: center;
    padding-bottom: 60px;
    border-bottom: var(--page-border)
  }
  .offers__img {
    margin-bottom: 30px
  }
  .offers__title {
    margin-bottom: 30px
  }
  .care__img,
  .styling__img {
    max-width: 329px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px
  }
  .care__list:first-child li:first-child,
  .medical__list:first-child li:first-child {
    border-top: var(--page-border)
  }
  .medical {
    margin-bottom: 60px
  }
  .medical__imgs {
    margin-bottom: 30px
  }
  .styling {
    margin-bottom: 60px
  }
  .styling__title {
    margin-bottom: 30px
  }
  .styling__list:first-child li:first-child {
    border-top: var(--page-border)
  }
  .styling__list li {
    padding: 28px 0;
    border-bottom: var(--page-border)
  }
  .styling__list li a {
    font-size: 18px;
    text-transform: uppercase;
    color: var(--color-main);
    transition: color .4s
  }
  .styling__list li a:hover {
    color: var(--color-acent)
  }
  .coloring {
    padding: 0 var(--page-padding);
    margin-bottom: 60px
  }
  .item-coloring:not(:last-child) {
    margin-bottom: 20px
  }
  .in-house {
    padding-bottom: 60px
  }
  .in-house__img {
    margin-bottom: 30px
  }
  .hero-about {
    padding: 40px var(--page-padding);
    text-align: center
  }
  .hero-about__img {
    margin: 0 calc(-1.1 * var(--page-padding));
    margin-bottom: 40px
  }
  .hero-about__gallary {
    justify-content: center
  }
  .about-follow__gallary-item {
    flex: 0 1 calc(50% - 5px)
  }
}
@media (max-width:47.99875em) and (any-hover:none) {
  .icon-menu {
    cursor: default
  }
}
@media (min-width:47.99875em) and (max-width:90em) {
  .offers__title {
    margin-right: -95px;
    max-width: 300px
  }
}
@media (max-width:47.99875em) and (min-width:47.99875em) {
  .styling__list li:first-child {
    border-top: var(--page-border)
  }
}